<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>This is the home page</h1>
    <h3> <%= ["apple ", "banana", "cherry"] %> </h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam nemo fugit voluptas suscipit? Aspernatur animi rem explicabo magnam. Dignissimos alias beatae pariatur velit provident magnam esse temporibus ut numquam expedita.</p>
    <button>click me!</button>
</body>
</html>